# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Rust build artifacts
projects/birds-recognizer/xeno_canto_scraper/target/